/*Variables*/

:root{
    --background-color: rgb(39, 44, 68);
    --component-color: rgb(41, 46, 69);
    --navBar-color:rgb(50, 56, 85);
    --text-color: rgb(219, 221, 236);
}
html{
    padding:0;
    margin:0;
}
/* Remove default styles */
body{
    margin:0;
    padding:0;
    color: var(--text-color,white);
    background-color: var(--background-color,darkgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}



/*Components*/
.component{
    width: 70vw;
    height:70vh;
    background-color: var(--component-color,darkgrey);
    display: flex;
    flex-direction: column;
    padding:3rem 5rem;
    margin: 4rem 0rem;
    align-items: center;
    
}   

h1{
    font-size: 3rem;
    padding: 0;
    margin:0;
}

.componentSection{
    display: flex;
    flex-direction: column;
    
    
}

.componentContent{
    display:flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 3rem;
    
}

/*Navbar*/
#navBar{
    padding-left: 5rem;
    background-color: var(--navBar-color, darkgrey);
    width: 100vw;
    top:0;
    position:fixed;
}

.navBarLink{
    font-size: 1.5rem;
    margin: 1rem;
    transition: 0.5s;
}
.navBarLink:hover{
    font-size:2rem;
}

a:link,a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    background-color: rgba(255, 255, 255, 0.108);  
}

/* Intro */
#about{
    font-size: 1.5rem;
}
.introIcon{
    height: 6rem;
    width: 6rem;
    border-radius: 25px;
}
#links{
    width: 30vw;
    gap: 2rem;
    margin-left:10rem;
}

/*Projects*/
.project{
    width: 30vw;
}

.projectPic{
    width: 20vw;
}

.projectIcon{
    width:3rem;
}